.menu{
    width: 100%;
    height: auto;
    padding: 1rem;

   margin-left: 6rem;

}

.category{
    width: 15rem;
    height: 10rem;
    padding: 0.5rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    cursor: pointer;
}

.category img{
    width: 10rem;
    height: 8rem;
    border-radius: 50%;
}

