.menu{
    width: 100%;
    height: auto;
    padding: 1rem;


   display: flex;
   align-items: center;
   justify-content: center;

}

.category{
    width: 15rem;
    height: 10rem;
    padding: 0.5rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    cursor: pointer;
}

.category img{
    width: 10rem;
    height: 8rem;
    border-radius: 50%;
}

