.foodItemsContainer{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foodItem{
    width: 22rem;
    height: 18rem;
    padding: 0.5rem;

}

.foodItem img{
    width: 94%;
    height: 8rem;
   

    
}

.itemDetails{
    width: 100%;
    padding-left: 0.5rem;
text-align: left;
}
.itemOptions{
    width: 10rem;
    margin-left: auto;
    text-align: right;
    padding: 0.5rem;
   border-radius: 0.1rem;
    background-color: #DDDDDD;

}